<h1><%= @user.user_name %></h1>

<br/>

<table border=1>
  <thead>
    <tr>
      <th>User Name</th>
      <th>About</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @user.user_name %></td>
      <td><%= @user.about %></td>
    </tr>
  </tbody>
</table>

<br/>

<a href="/users">Back</a>
